{% extends "main/base.html" %}
{% load static %}

{% block content %}
    <div class="header">
        <div class="logo-container">
            <a href="{% url 'homepage' %}" class="logo">
                <img src="{% static 'images/logo.png' %}" alt="My Restaurant" class="logoImage">
            </a>
        </div>
        <p class="restaurant-name">Delicious Bites</p>
        <div class="header-right">
            <a class="active" href="{% url 'homepage' %}">Home</a>
            <a href="{% url 'signup' %}">Sign Up</a>
        </div>
    </div> 
    <div class="login-form-container text-center">
        <h2>Login</h2>
        <form method="post" class="login-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    {% if invalid_credentials %}
        <script>
                toastr.error('Username or password is incorrect.', 'Login Failed');
        </script>
    {% endif %}
{% endblock content %}
