{% extends "main/base.html" %}
{% load static %}

{% block content %}
    <div class="header">
        <div class="logo-container">
            <a href="{% url 'menu' %}" class="logo">
                <img src="{% static 'images/logo.png' %}" alt="My Restaurant" class="logoImage">
            </a>
        </div>
        <p class="restaurant-name">Delicious Bites Menu</p>
        <div class="header-right">
            {% if user.is_authenticated %}
                <a class="active view-cart" href="{% url 'view_cart' %}">View Cart</a>
                <a class="active view-cart" href="{% url 'order_list' %}">View Orders</a>
                <a class="active view-cart" href="{% url 'profile' %}">View Profile</a>
                <form action="{% url 'logout_view' %}" method="post" class="inline-form">
                    {% csrf_token %}
                    <button type="submit" class="logout-button">Logout</button>
                </form>
                
            {% endif %}
        </div>
    </div>

    <div class="container mt-4">
        <form action="{% url 'search_results' %}" method="GET" class="mb-4">
            <div class="input-group">
                <input type="text" name="query" class="form-control" placeholder="Search for products...">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-secondary">Search</button>
                </div>
            </div>
        </form>

        <div class="row" id="menu-items">
            {% for item in menu_items %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100 shadow-sm">
                        <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}" style="height:300px">
                        <div class="card-body">
                            <h5 class="card-title" style="font-weight: bold; color: orange;">{{ item.name }}</h5>
                            <p class="card-text" style="color: green;">{{ item.description }}</p>
                            <p class="card-text" style="color: red;">Price: ${{ item.price }}</p>
                        </div>
                        <div class="card-footer">
                            <button type="submit" data-item-id="{{ item.id }}" class="btn btn-primary btn-block add-to-cart-button">Add to Cart</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
    <style>
        .message-container {
            position: fixed;
            top: 20px;
            right: 20px;
            z-index: 9999;
        }
        .alert {
            margin-bottom: 10px;
        }
    </style>

    <script>
        $(document).ready(function() {
            $('.add-to-cart-button').click(function(event) {
                event.preventDefault();

                let itemId = $(this).data('item-id');
                let url = `/add_to_cart/${itemId}/`;
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        toastr["success"](response.message);
                    },
                    error: function(response) {
                        toastr["error"]("An error has occurred.");
                    }
                });
            });
        });
    </script>
{% endblock content %}
